{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/style-index.css' %}">
{% endblock %}
{% block title %} Eliminar Vehículo {% endblock %}
{% block content %}
<main class="container">
    <h1 style="color: #F8DE4A;">Eliminando Vehículo</h1> <!-- Color amarillo para el título -->
    <br>
    <form action="{% url 'eliminar' vehiculo.idVehiculo %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card" style="width: 450px; background-color: white; border: 2px solid #000000; padding: 20px; border-radius: 10px;">
            <div class="card-body">
                <div class="form-group">
                    <label style="font-weight: bold;">ID Vehículo: </label>
                    {{ vehiculo.idVehiculo }}
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;">Patente: </label>
                    {{ vehiculo.patente }}
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;">Marca: </label>
                    {{ vehiculo.marca }}
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;">Descripción: </label>
                    {{ vehiculo.descripcion }}
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;">Precio por Persona: </label>
                    ${{ vehiculo.precioPorPersona }} <!-- Agregado el signo de dólar -->
                </div>

                {% if vehiculo.imagen %}
                    <img src="{{ vehiculo.imagen.url }}" style="width: 80px; height: 80px; border-radius: 5px;" alt="Imagen del vehículo">
                {% else %}
                    <h5 style="color:red;">Vehículo sin imagen</h5>
                {% endif %}

                <br><br>
                <input type="submit" value="Confirmar Eliminación" name="eliminar" class="btn btn-warning" style="width: 100%; padding: 10px; font-size: 18px;">
                <br><br>
                <a href="{% url 'adminTransfer' %}" class="btn btn-dark" style="width: 100%; padding: 10px; font-size: 18px;">Volver a Administración</a>
            </div>
        </div>
   </form>
</main>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
